<!DOCTYPE html>
<html>
	<head>
		
		<title>Welcome to <%= bolt_config_website_name %></title>
		<%= stylesheet_link_tag "depot" %>
		

		<%= javascript_include_tag "jquery" %>

		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="header">
			<h1><%= image_tag("logo.png") %></h1>
		</div>
		<div id="content">
			<%= yield %>
		</div>
		<div id="footer">
			
			an open-source project initiated by <a href="http://www.spoiledmilk.dk">Spoiled Milk</a>.</p>
		</div>
	</body>
</html>